{% extends 'base.html' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}
    <h2 class="mb-4">Lista de Usuarios</h2>
    
    <a href="{% url 'exportar_usuarios' %}" class="btn btn-info mb-3">Descargar Listas Generales</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    <a href="{% url 'editar_usuario' usuario.id %}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="{% url 'buscar_eventos_usuario' usuario.id %}" class="btn btn-primary btn-sm">Grupos</a>
                    <a href="{% url 'eliminar_usuario' usuario.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crear_usuario' %}" class="btn btn-success">Crear Usuario</a>
{% endblock %}
