<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Villalva{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Villalva</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if request.session.usuario_id %}
                <li class="nav-item">
                    <span class="nav-link">Hola, {{ request.session.usuario_nombre }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mis_eventos' %}">mis eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_evento' %}">Crear evento</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
                {% endif %}
                {% if request.session.empleado_id %}
                <li class="nav-item">
                    <span class="nav-link">Hola, {{ request.session.empleado_nombre }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar_usuarios' %}">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listar_eventos' %}">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inscribir_usuario' %}">Inscripciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4 flex-grow-1">
        {% block content %}
        <!-- El contenido específico de cada página irá aquí -->
        {% endblock %}
    </div>

    <footer class="footer py-3 bg-dark text-white text-center mt-auto">
        <div class="container">
            <span>&copy; 2024 Villalva .</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
